html, body {
  margin: 0;
  padding: 0; }

.page-header {
  margin-left: 10vw; }

.open-card {
  order: 1;
  margin-top: 10vh;
  width: 80vw !important;
  padding: 10px !important; }
  .open-card .open-card-header div span {
    margin-top: 8px; }

.mobile-open-card {
  order: 1;
  margin-top: 10vh;
  width: 90vw !important;
  padding: 10px !important; }
  .mobile-open-card .open-card-header div span {
    margin-top: 8px; }

.code-example {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 3;
  overflow-x: auto;
  margin-top: 5px;
  padding: 5px;
  color: black;
  border-radius: 5px; }

.tile img:hover {
  opacity: .7; }
